@model BattleShits.Models.DatabaseMethods

@{
    ViewData["Title"] = "SeaBattle";
}
<p>Spelare 1's stridsvy!</p>
<p>@ViewBag.message</p>


<h3>Ditt bräde</h3>
<table>
    @for (int i = 0; i < ViewBag.p1Board.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.p1Board.GetLength(1); j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (ViewBag.p1Board[j, i] == 3)
                    {
                        <span>💧</span>
                        // Vatten
                    }

                    else if (ViewBag.p1Board[j, i] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else if (ViewBag.p1Board[j, i] == 1)
                    {
                        <span>🚢</span>
                        // Miss
                    }
                    else if (ViewBag.p1Board[j, i] == 4)
                    {
                        <span>🔴</span>
                        // Sänkt skepp
                    }
                    else
                    {
                        <span>🌊</span>
                        // Skepp
                    }
                </td>
            }
        </tr>
    }
</table>

<h3>Här skjuter du!</h3>
<table>
    @for (int i = 0; i < ViewBag.p2Board.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.p2Board.GetLength(1); j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (ViewBag.p2Board[j, i] == 3)
                    {
                        <span>💧</span>
                        // Vatten
                    }

                    else if (ViewBag.p2Board[j, i] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else if (ViewBag.p2Board[j, i] == 1)
                    {
                        <span>🌊</span>
                        // Miss
                    }
                    else if (ViewBag.p1Board[j, i] == 4)
                    {
                        <span>🔴</span>
                        // Sänkt skepp
                    }
                    else
                    {
                        <span>🌊</span>
                        // Skepp
                    }
                </td>
            }
        </tr>
    }
</table>

<form method="post" asp-action="Fire">
    <input type="hidden" name="playerNumber" value="1" />
    <input type="hidden" name="gameNumber" value="@ViewBag.gameId" />
    <label for="x">Koordinat x:</label>
    <input type="number" id="x" name="x" min="0" max="9" />
    <label for="y">Koordinat Y:</label>
    <input type="number" id="y" name="y" min="0" max="9" />
    <button type="submit">Skjut</button>
</form>
