@model BattleShits.Models

@{
    ViewData["Title"] = "SeaBattle";
}
<p>Spelare 1's stridsvy!</p>
<p>@ViewBag.Message</p>


<h3>Ditt bräde</h3>
<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            @for (int j = 0; j < 10; j++)
            {
                string cellContent = Model.checkIfEmpty(ViewBag.boardNumber, i, j, "hor", 1, ViewBag.gameId) == false ? "🚢" : "🌊";
                <td>@cellContent</td>
            }
        </tr>
    }
</table>

<h3>Här skjuter du!</h3>
<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr>
            @for (int j = 0; j < 10; j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (Model.checkShots(ViewBag.boardNumber, ViewBag.gameId, i, j) == 3)
                    {
                        <span>💧</span>
                        // Miss
                    }

                    else if (Model.checkShots(ViewBag.boardNumber, ViewBag.gameId, i, j) == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else
                    {
                        <span>🌊</span>
                        // Vatten
                    }
                </td>
            }
        </tr>
    }
</table>

<form method="post" asp-action="Fire">
    <input type="hidden" name="user" value="@Model.getPlayerNamefromGame(ViewBag.gameId, ViewBag.boardNumber)" />

    <label for="x">Koordinat x:</label>
    <input type="number" id="x" name="x" min="0" max="9" />

    <label for="y">Koordinat Y:</label>
    <input type="number" id="y" name="y" min="0" max="9" />

    <button type="submit">Skjut</button>
</form>
