@model BattleShits.Models.BattleField

@{
    ViewData["Title"] = "SeaBattle";
}

<h1>SeaBattle, Here you will be able to see your battle at sea</h1>
<p>This is where your battle will take place</p>
<p>@ViewBag.Message</p>



<h3>Robotbräde</h3>
<table>
    @for (int i = 0; i < Model.RobotBoard.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < Model.RobotBoard.GetLength(1); j++)
            {
                string cellContent = Model.RobotBoard[i, j] == 1 ? "🚢" : "🌊";
                <td>@cellContent</td>
            }
        </tr>
    }
</table>

<table>
    @for (int i = 0; i < Model.PlayerBoard.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < Model.PlayerBoard.GetLength(1); j++)
            {
                <td style="width: 50px; height: 50px; text-align: center; border: 1px solid black;">
                    @if (Model.PlayerBoard[i, j] == 3)
                    {
                        <span>💧</span>
                        // Vatten
                    }
                   
                    else if (Model.PlayerBoard[i, j] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else
                    {
                        <span>🌊</span>
                        // Miss
                    }
                </td>
            }
        </tr>
    }
</table>

<h3>Spelarbräde</h3>
<table>
    @for (int i = 0; i < Model.PlayerBoard.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < Model.PlayerBoard.GetLength(1); j++)
            {
                string cellContent = Model.PlayerBoard[i, j] == 1 ? "🚢" : "🌊";
                <td>@cellContent</td>
            }
        </tr>
    }
</table>


<table>
    @for (int i = 0; i < Model.RobotBoard.GetLength(0); i++)
    {
        <tr>
            @for (int j = 0; j < Model.RobotBoard.GetLength(1); j++)
            {
                <td style="width: 70px; height: 70px; text-align: center; border: 5px solid black;">
                    @if (Model.RobotBoard[i, j] == 3)
                    {
                        <span>💧</span>
                        // Vatten
                    }

                    else if (Model.RobotBoard[i, j] == 2)
                    {
                        <span>🔥</span>
                        // Träff
                    }
                    else
                    {
                        <span>🌊</span>
                        // Miss
                    }
                </td>
            }
        </tr>
    }
</table>

<form method="post" asp-action="Fire">
    <label for="x">Koordinat x:</label>
    <input type="number" id="x" name="x" min="0" max="9" />
    <label for="y">Koordinat Y:</label>
    <input type="number" id="y" name="y" min="0" max="9" />
    <button type="submit">Skjut</button>
</form>
