@{
    ViewData["Title"] = "Home Page";
}

<div id="timer" style="font-size: 20px; color: red;">Tid kvar: 60 sekunder</div>
<div id="message" style="margin-top: 10px; font-size: 18px;"></div>
<div id="game-info" data-game-id="@ViewBag.gameId"></div>
<div id="shotCount">Antal skott: 0</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model IEnumerable<BattleShits.Controllers.HomeController.Leaderboard>

<h2>Leaderboard</h2>
<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Wins</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var entry = Model.ElementAt(i);
            <tr>
                <td>@(i + 1)</td>
                <td>@entry.Player</td>
                <td>@entry.Wins</td>
            </tr>
        }
    </tbody>
</table>



<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.2/signalr.min.js"></script>

    <script src="/game.js"></script>


